*{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    margin: 0;
    border: 8px solid rgb(84, 5, 5);
    border-radius: 4px;
    height: 100vh;
    background-color: darkred;
}

h1{
    text-align: center;
    font-weight: 400;
    color: goldenrod;
}

h3{
    text-align: center;
   font-family: 'Times New Roman', Times, serif; 
}

.display-block{
    display: block;
}

.form-area{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 400px;
    max-width: 600px;
    font-family: 'Times New Roman', Times, serif; 
}

.church-info{
    font-size: 10px;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif; 
}

.selector-box{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

label{
    text-align: center;
}

input, button{
    padding: 5px;
    margin: 6px auto;
    width: 70%;
    border-radius: 5px;
    border: 4px darkred solid;
}

@media (min-width: 600px) {
    h1{
        font-size: 4rem;
    }

    h3{
        font-size: 1.8rem;
    }

    label{
        font-size: 1.4rem;
    }
    
}
