*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    background-color: maroon;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    padding-left: 10px;
    border-bottom: 2px solid black;
}

h1{
    color: darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
}

h3{
    text-align: center;
}

#song-number{
    margin-left: 0px;
    margin-right: 5px;
    width: 8rem;   
}

#select-button{
    border: 1.6px solid maroon;
    border-radius: 5px;
    background-color: inherit;
}

.container{
    max-width: 600px;
    min-width: 300px;
    height: 100vh;
    margin-top: 50px;
}

#number-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#number-container p{
    text-align: justify;
    line-height: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-number{
    display: flex;
}

.selector-box{
    display: flex;
    justify-content: center;
}

.church-info p{
    text-align: center;
}

.hidden{
    display: none;
}

.divider{
    border: 1px grey solid;
}
